*{
    margin: 0px;
    padding: 0px;

}
header{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(hero_image.png);
    background-size: cover;
}